spring:
  redis:
    host: localhost
    port: 6379
  h2:
    console:
      enabled: true
      path: /h2
  datasource:
    url: jdbc:h2:mem:test
  jpa:
    hibernate:
      ddl-auto: create  # (1) 스키마 자동 생성
    show-sql: true      # (2) SQL 쿼리 출력
    properties:
      hibernate:
        format_sql: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 317099781980-qne1e1p3orh12n764qkmpk3s4l4jj2l7.apps.googleusercontent.com
            client-secret: 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
            scope:
              - email
              - profile

          kakao:
            client-id: a257f18a9104f9d0b99000fc53241f1a
            client-secret: XtqF60lh1Imkd2M2J3SMpUN3j1hoa6uv
            authorization-grant-type: authorization_code
            redirect-uri: http://localhost:8080/auth/kakao/callback
            client-authentication-method: POST
            scope:
              - profile_nickname
              - profile_image
              - account_email
            client-name: Kakao

          naver:
            client-id: W2Ptx4w1XYELpuFvM4vF
            client-secret: PXxvNEgU8O
            scope:
              - email
              - profile_image
            client-name: Naver
            authorization-grant-type: authorization_code
            redirect-uri: http://localhost:8080/auth/naver/callback
            provider: naver

        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: id


mail:
  address:
    admin: admin@gmail.com

jwt:
  key: OmOSecretKey20230607be3fe220230607be3fe220230607be3fe220230607be3fe2
  access-token-expiration-minutes: 40
  refresh-token-expiration-minutes: 420

naver-map:
  id: Y57FZ_gSeUBmakLsyxyQ
  pw: pEeOAiJ7ve